
@{
    ViewBag.Title = "UpLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Warming !!! This will delete all existing data in the system</h2>

<p>Do you want to do this inststead</p>
<li>@Html.ActionLink("List HC Runners", "ListRunners", "Home", new { area = "" }, null)</li>


<hr />
@using (Html.BeginForm("GetFile","Home",FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-group">
        <input type="file" id="file" name="file" />
    </div>

    <div class="form-group">
        <input type="submit" name="btnUpload" value="Upload" />
    </div>
}

