
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="body-content">


    <p></p>
    <fieldset>
        <legend>Supply Credentials or Enter your Number</legend>
        <div>
            @using (Html.BeginForm("GetIn", "Default", FormMethod.Post))
    {
            <fieldset>
                <legend>Admin</legend>
                <div class="form-group">
                    <input type="text" id="un" name="un" />
                </div>
                <div class="form-group">
                    <input type="text" id="pw" name="pw" />
                </div>
            </fieldset>
            <fieldset title="UKAN eg 3273942">
                <legend>Your UKA Number (eg 3273942)</legend>
                <div class="form-group">
                    <input type="text" id="ukan" name="ukan" />
                </div>
            </fieldset>

            <div class="form-group">
                <input type="submit" name="btnSubmit" value="Press To Enter" />
            </div>
 
            }
        </div>
        </fieldset>
    @*<p>
        @Html.ActionLink("JR Trophy", "Index", "JRRank", new { area = "" }, null)
    </p>*@
</body>
</html>
