@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Redcar Running Club</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Redcar Running Club Demonstration Application</h2>
        <p>
            Redcar Running Club Demonstration is a sample application that
            demonstrates how to we can use Power of 10 data to help us auto generate JR times
        </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
     </div>
</div>
